[submodule "unity/Waffle's Weapons/Assets/ULTRAKILL Prefabs"]
	path = unity/Waffle's Weapons/Assets/ULTRAKILL Prefabs
	url = https://github.com/Tundra-Editor/Prefabs.git
[submodule "unity/Waffle's Weapons/Assets/Common"]
	path = unity/Waffle's Weapons/Assets/Common
	url = https://github.com/Tundra-Editor/Assets.git
[submodule "unity/Waffle's Weapons/Assets/Components"]
	path = unity/Waffle's Weapons/Assets/Components
	url = https://github.com/Tundra-Editor/Components.git
