.vs/
/read.lock/
SETUP (edit first).bat
ExtraAlts_Assets/Assets/AssetBundles.meta
ExtraAlts_Assets/Assets/Common
ExtraAlts_Assets/Assets/ExtraAlts/Thermo/ColdBulletSpark.prefab.meta
ExtraAlts_Assets/Packages/packages-lock.json
ExtraAlts_Assets/ProjectSettings/Packages/com.unity.probuilder/Settings.json
SETUP (edit first).bat
ExtraAlts/Weapons/Mindrender.cs
